<% provide(:title, 'Welcome to Main Street Station') %>

<h1>Welcome to Mainstreet Station</h1>

<%= link_to 'Conformance', fhir_metadata_path(format: :html) %>
<br/>
<%= link_to 'Application User Signup', new_user_registration_path %>