<h1>Listing family_histories</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @family_histories.each do |family_history| %>
      <tr>
        <td><%= link_to 'Show', family_history %></td>
        <td><%= link_to 'Edit', edit_family_history_path(family_history) %></td>
        <td><%= link_to 'Destroy', family_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family history', new_family_history_path %>
