<% title 'Community Role Kind' %>

<p>
  <strong>Name:</strong>
  <%= @community_role_kind.name %>
</p>

<p>
  <%= link_to 'Edit', edit_community_role_kind_path(@community_role_kind) %> |
  <%= link_to 'Destroy', @community_role_kind, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'View All', community_role_kinds_path %>
</p>
