<% title 'Verbs' %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @verbs.each do |verb| %>
    <tr>
      <td><%= verb.name %></td>
      <td><%= link_to 'Show', verb %></td>
      <td><%#= link_to 'Edit', edit_verb_path(verb) %></td>
      <td><%= link_to 'Destroy', verb, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%#= link_to 'New Verb', new_verb_path %></p>
