<footer class="footer">
  <small>
    Mainstreet Station powered by Youcentric
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Conformance', fhir_conformance_index_path(format: :html), id: 'footer_conformance'%></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>